/* 
0 - 600px:      Phone
600-90px:       Tablet portrait
900-1200px:     Tablet landscape
[1200-1800px]:  Is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 
1rem -> 16px
2rem -> 32px
3rem -> 48px
*/
html {
  font-size: 75%;
}
@media (max-width: 75em) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 85%;
  }
}

body {
  padding: 2rem;
  box-sizing: border-box;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.heading-primary--main {
  display: block;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  animation: moveFromRight 1s ease-out;
}
@media (max-width: 56.25em) {
  .heading-primary--main {
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  animation: moveFromLeft 1.6s ease-out;
}
@media (max-width: 56.25em) {
  .heading-primary--sub {
    letter-spacing: 0.2rem;
    font-size: 2rem;
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  display: inline;
  letter-spacing: 0.3rem;
  animation: appear 0.8s ease-out;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.header {
  width: 100%;
  height: 30rem;
  position: relative;
  background-image: linear-gradient(90deg, rgba(252, 228, 87, 0.7) 0%, rgba(247, 228, 208, 0.7) 40%, rgba(247, 228, 208, 0.7) 60%, rgba(249, 160, 82, 0.7) 100%), url("../../img/claude-piche-EHbtjmz7hvw-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}
@media (max-width: 56.25em) {
  .header {
    height: 26rem;
  }
}
.header__logo-box {
  position: absolute;
  top: 6rem;
  left: 3rem;
  backface-visibility: hidden;
  animation-name: moveFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 56.25em) {
  .header__logo-box {
    left: 4rem;
    top: 7rem;
  }
}
.header__logo {
  height: 10rem;
}
@media (max-width: 56.25em) {
  .header__logo {
    height: 8rem;
  }
}
.header__text-box {
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
}
@media (max-width: 56.25em) {
  .header__text-box {
    top: 15%;
    left: 35%;
  }
}

.row {
  max-width: 114rem;
  background-color: #e0e0e0;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem );
}
.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem );
}

.section-form {
  background-color: #e0e0e0;
  padding: 15vh;
  margin-top: -8vh;
}

.form {
  margin: 0 auto;
  display: block;
}
.form__group {
  text-align: center;
  margin: 0 auto;
}
.form__label {
  font-size: 1.8rem;
}
@media (max-width: 37.5em) {
  .form__label {
    font-size: 2rem;
  }
}
.form__input {
  border-radius: 0.6rem;
  width: 20%;
  height: 4vh;
  border: 2px solid rgba(249, 160, 82, 0.7);
}
@media (max-width: 75em) {
  .form__input {
    width: 30%;
  }
}
@media (max-width: 56.25em) {
  .form__input {
    width: 60%;
    height: 6vh;
  }
}
@media (max-width: 37.5em) {
  .form__input {
    width: 110%;
    height: 6vh;
  }
}

.form__btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.2s;
  border: 2px solid black;
  cursor: pointer;
  background-color: #fff;
}
@media (max-width: 56.25em) {
  .form__btn {
    font-size: 2rem;
  }
}
.form__btn:hover {
  border: 2px solid rgba(249, 160, 82, 0.7);
  background-color: rgba(252, 228, 87, 0.7);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem) scaleX(1.2) scaleY(1.1);
}
.form__btn:active, .form__btn:focus {
  outline: none;
  transform: translateY(-0.4rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
