.form__btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem 3rem;
  font-size: $font-size-labels;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.2s;
  border: 2px solid black;
  cursor: pointer;
  background-color: $color-white;

  // MEDIA QUERY **********************************
  @include respond(tab-port) {
    font-size: $font-size-small;
  }

  &:hover {
    border: 2px solid $color-gold;
    background-color: $color-yellow;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-0.2rem) scaleX(1.2) scaleY(1.1);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.4rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
