.form {
  z-index: 1;
  font-family: $font-fredoka;
  width: 22rem;
  text-align: center;

  @include respond(tab-port) {
    width: 75%;
  }
  @include respond(phone) {
    width: 95%;
  }

  & h1 {
    color: $color-yellow;
    font-size: 3rem;
    margin-bottom: 0.8rem;
    animation: moveFromTop 1.5s ease-out;
  }

  & h2 {
    color: $color-yellow;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    animation: moveFromRight 1.5s ease-out;
  }

  & i {
    z-index: 1;
    color: $color-white;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    animation: moveFromLeft 1.5s ease-out;
  }

  &__user-input {
    width: 22rem;
    height: 4rem;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    background: $color-white;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.4rem;
    transition: 0.5s;
    transition-property: border-left, border-right, box-shadow;

    @include respond(tab-port) {
      width: 95%;
    }

    &:hover,
    &:focus,
    &:active {
      border-left: solid 8px $color-blue;
      border-right: solid 8px $color-blue;
      box-shadow: 0 0 100px $color-blue-shadow;
    }
  }

  &__options-01 {
    margin-bottom: 2rem;

    & a {
      color: #888;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  &__btn {
    outline: none;
    border: none;
    width: 22rem;
    height: 4rem;
    background: $color-blue;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.5s;
    transition-property: border-left, border-right, box-shadow;

    @include respond(tab-port) {
      width: 95%;
    }

    &:hover {
      border-left: solid 8px $color-grey-btnBorder;
      border-right: solid 8px $color-grey-btnBorder;
      box-shadow: 0 0 100px $color-blue-shadow;
    }
  }
}
