@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
