// GENERAL TYPOGRAPHY
body {
  font-family: $font-fredoka;
  font-weight: 400;
}

// HEADER TITLES
.heading-primary {
  text-transform: uppercase;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: $font-size-titles;
    letter-spacing: 0.5rem;
    font-weight: 700;
    animation: moveFromRight 1s ease-out;
    // MEDIA QUERY **********************************
    @include respond(tab-port) {
      letter-spacing: 0.2rem;
      font-size: $font-size-secondary;
    }
  }

  &--sub {
    display: block;
    font-size: $font-size-secondary;
    letter-spacing: 0.5rem;
    font-weight: 300;
    animation: moveFromLeft 1.6s ease-out;
    // MEDIA QUERY **********************************
    @include respond(tab-port) {
      letter-spacing: 0.2rem;
      font-size: $font-size-small;
    }
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: $font-size-titles;
  font-weight: 100;
  display: inline;
  letter-spacing: 0.3rem;
  animation: appear 0.8s ease-out;
  // MEDIA QUERY **********************************
  @include respond(tab-port) {
    letter-spacing: 0.2rem;
    font-size: $font-size-secondary;
  }
}
